@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 26, 36);
    color:rgb(133, 182, 255);
    font-family: 'Nunito', sans-serif;
    background-image: url("./images/cubes.png");
    background-position: left top;
    background-repeat: repeat;
}

a{
    text-decoration: none;
    color:rgb(133, 182, 255);
}

.aboutMe p{
    font-size:xx-large;
    padding: 10px 50px;
}

.contactme{
    font-size:xx-large;
    padding: 10px 50px;
    text-align: center;
}

.copyright{
    width: 100%;
    background-color: rgb(36, 40, 53);
    text-align: center;
    padding: 1px 0;
    font-size:xx-large;
}

.connect{
    margin: 80px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.platform{
    width: 300px;
    height: 300px;
    animation: swel 5s linear infinite;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
}

@keyframes swel{
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(98%);
    }
    100%{
        transform: scale(100%);
    }
}

.pic{
    width: 100%;
    height: auto;
    border-radius: 0px 0px 80px 80px;
    box-shadow: 0px 20px 50px rgb(48, 54, 71);
}
