@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#03a9f4, #03a9f4 48%, #ffffff 40%, #ffffff 100%);
}

.card{
    position: relative;
    width: 300px;
    height: 440px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    border-radius: 10% 10% 100% 300%;
    overflow: hidden;
    transform: translateY(20px) scale(0.8);
    transform-origin: top;
    box-shadow: 0px 40px 30px rgba(0,0,0,0.1);
    /*border-bottom: 1px solid #03a9f4;*/
}

.imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px; 
    font-family: 'Varela Round', sans-serif;
}

.content .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}

.content .details h2{
    color: #00131b;
    font-size: 1.4em;
    font-weight: 500;
}

.content .details span{
    color: #03a9f4;
    font-size: 0.7em;
    font-weight: 400;
}

.touch{
    position: relative;
    display: flex;
    margin-top: 5px;
}

.touch li{
    list-style: none;
    margin: 4px;
}

.touch li a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: rgb(65, 65, 65);
    text-decoration: none;
    box-shadow: 0 7px 15px rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1) ;
    transition: 0.5s;
}

.touch li a:hover{
    background-color: #03a9f4;
    color: white; 
}

/* For Mobile View / Small Screen View */

@media screen and (max-width: 100vh) {
    body{
        background: linear-gradient(#03a9f4, #03a9f4 38%, #ffffff 38%, #ffffff 100%);
    }
    .card{
        width: 800px;
        height: 1300px;
    }
    .imgBox{
        transform: translateY(80px) scale(0.8);
        border-radius: 10% 10% 80% 200%;
        box-shadow: 0 40px 35px rgba(0,0,0,0.2);
        height: 70%;
    }
    .content{
        padding-bottom: 80px;
    }
    .content .details{
        margin-bottom: 50px;
    }
    .content .details h2{
        font-size: 5em;
        font-weight: 500;
    }
    .content .details span{
        font-size: 0.7em;
        font-weight: 400;
    }
    .touch{
        margin-top: 30px;
    }
    .touch li{
        margin: 15px;
    }
    .touch li a{
        width: 140px;
        height: 140px;
        font-size: 4.5em;
    }
}
